@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Montserrat:wght@600;800&display=swap');
@import "./variables.css";
@import "tailwindcss";

@theme {
    --breakpoint-mobile: 480px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 992px;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.05rem;
    background-color: var(--background);
    color: var(--text-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    width: 90%;
}